@tailwind base;
@tailwind components;
@tailwind utilities;


.mantine-Button-filled {
  background-color: #228be6;
}

@layer base {
  body {
    height: 100vh;
  }
  #__next{
    height: 100%;
  }
  h1 {
    @apply text-xl;
  }

  
  
}
@layer components {
  
}

