@tailwind base;
@tailwind components;
@tailwind utilities;




@layer base { 
  body {
    height: 100vh;
  }
  #__next{
    height: 100%;
  }
  h1 {
    @apply text-xl;
  }

  
  
}
@layer components {
  
  .mantine-NumberInput-root{
    @apply flex gap-2 items-center;
  }
  .mantine-NumberInput-label{
    @apply font-mono;
  }
  .mantine-NumberInput-wrapper > input{
    max-width: 4em;
  }
  .drawer-section-title{
    @apply text-base md:text-lg font-semibold text-gray-700;
  }
  .mantine-ActionIcon-outline{
    @apply border-gray-300;
  }
  
}

.react-draggable {
  position: absolute;
  top: 0; left: 0;
  [contenteditable="true"]:focus-visible{
    outline: rgba(0,0,0,0.075) solid 1px;
  }
}